# https://medium.com/@vishal.sharma./run-postgresql-and-pgadmin-using-docker-compose-34120618bcf9
version: "3.8"
services:
  db:
    image: postgres
    container_name: local_pgdb
    ports:
      - "${PGADMIN_PG_PORT:-5432}:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ${DATA_PATH}/pgadmin:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    ports:
      - "${PGADMIN_PGA_PORT:-8888}:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: user-name@domain-name.com
      PGADMIN_DEFAULT_PASSWORD: strong-password
    volumes:
      - ${DATA_PATH}/postgres:/var/lib/pgadmin

