.env
db
*.sql
docker-compose.*.yml
.idea/*
old?
.vscode/*
*.jar
*.class
*.war
*.zip
*.tar.gz
*.tar.bz2
*.exe
*.dll
*.so
*.dylib
*.bin
*.log
*.sqlite
*.db
data/
cache/
appdata/
node_modules/
vendor/
__pycache__/
*.pyc